services:
  app:
    build: .
    container_name: quick_clinic_app
    ports:
      - "3000:3000"
    env_file: .env
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    restart: always
   
